# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class

# Caches
**/pytest_cache
**/__pycache__

# tox file generated during local branch testing
/**.tox/

# Flask stuff:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# all logs
logs/**