# To install classification_model from gemfury
--extra-index-url=${PIP_EXTRA_INDEX_URL}
# api
flask>=1.1.2,<1.2.0
# For OpenAPI spec dev
connexion[swagger-ui]>=2.7.0,<2.8.0
# schemas  and data validation
marshmallow>=3.11.1,<3.12.0

# For test 
pytest>=6.1.1,<6.2.0
# Previous model
dl_classification_model==0.1.0
# For deployement on heroku
gunicorn>= 20.1.0,<20.2.0

# local path for the the classification_model package for its installation
# -e "C:\Users\geoff\Desktop\udemy\badpipes\badpipes\packages\classification_model"
# Now we are going to install the classification_model package from our repo on gemfury
# download the current version
classification-model==0.3.2

# enforce code format
black>=21.5b2,<22.0
# report non respect of PEP8
flake8>=3.9.2,<3.10.0

