# To install classification_model from gemfury
--extra-index-url=${PIP_EXTRA_INDEX_URL}
# api
flask>=1.1.2,<1.2.0

# schemas  and data validation
marshmallow>=3.11.1,<3.12.0

# For deployement on heroku
gunicorn>= 20.1.0,<20.2.0

# local path for the the classification_model package for its installation
# -e "C:\Users\geoff\Desktop\udemy\badpipes\badpipes\packages\classification_model"
# Now we are going to install the classification_model package from our repo on gemfury
# download the current version
classification-model==0.3.2

